
#footer{
    padding: 48px 0px;
    gap: 64px;
    /* position: absolute; */
    width: 100vw;
    height: 160px;
    
}

.footer-con {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 5rem;
    gap: 32px;
    width: 100vw;
    height: 64px;
}

.zuri-img {
    /* position: absolute; */
    left: 0.72%;
    right: 0.64%;
    top: 21.82%;
    bottom: 0.88%;

    height: 25px;
    width: 185px;
}


.i4g-img {
    height: 32px;
    width: 132px;
    left: 1084px;
    top: 32px;
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}